.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 110vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 1em; */
}

.links {
  display: grid;
  grid-template-areas: "a a" "a a";
  gap: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.home-links {
  border-bottom: rgb(233, 89, 23) solid 2px;
  border-right: rgb(233, 111, 54) solid 3px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 2px rgb(112, 53, 26);
  background-color: rgb(245, 148, 103);
  padding: 0.5em;
  min-width: 195px;
}

#return-home {
  padding: 0.5em;
  border-radius: 5px;
  border: white solid 1px;
}

.sidebar-menu {
  border-color: red;
}

.about-paragraph {
  /* border: 1px red solid; */
  max-width: 75%;
  padding: 30px;
  margin: auto;
  font-size: 1em;
  text-align: start;
}

.help-container {
  position: absolute;
  z-index: 7;
  left: 87%;
  bottom: 85px;
}

.help-paragraph {
  padding: 15px;
  position: fixed;
  max-height: 520px;
  width: 80%;
  background-color: aliceblue;
  border: rgb(236, 150, 111) 3px solid;
  color: black;
  z-index: 6;
  top: 15px;
  left: 5%;
  margin: auto;
  overflow-y: scroll;
  text-align: start;
}

.help-tool-button {
  color: white;
  background: none;
  border-radius: 50%;
  border: rgb(236, 150, 111) solid 2px;
  width: 1.4em;
  height: 1.4em;
  position: fixed;
  font-size: 1.2em;
  color: #282c34;
  -webkit-text-stroke-color: rgb(245, 148, 103);
  -webkit-text-stroke-width: 0.03em;
  background-color: #282c34;
  cursor: pointer;
  z-index: 8;
  left: 87%;
  bottom: 85px;
}

.logo-container {
  position: relative;
  width: 255px;
  min-height: 67px;
  margin: 25px auto;
  text-align: unset;
}

.logo-container h3 {
  font-size: 25px;
  color: greenyellow;
}

#delta {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 33px;
  position: absolute;
  transform: translate(15px, -31px);
}

.key-bar {
  width: 7px;
  height: 30px;
  position: absolute;
  background-color: greenyellow;
  transform: translate(21px, 36px);
}

#kappa {
  font-weight: bold;
  font-size: 40px;
  line-height: 0px;
  position: absolute;
  transform: translate(19px, 9px);
}

#didakey {
  font-weight: bold;
  padding-left: 50px;
  padding-right: 15px;
  padding-bottom: 13px;
  font-size: 48px;
  position: relative;
  /* transform: translate(48px, -45px); */
  border: greenyellow 2px solid;
  border-radius: 10px;
}

@media only screen and (max-width: 525px) {
  .home-links {
    min-width: 125px;
  }
}

@media only screen and (max-width: 280px) {
  .home-links {
    min-width: 105px;
  }
}
