.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 1em; */
}

h1 {
}

.links {
  display: grid;
  row-gap: 5px;
}

a {
  border: white solid 1px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  /* max-width: 150px; */
  min-width: 200px;
}

.sidebar-menu {
  border-color: red;
}

@media only screen and (max-width: 540px) {
}
