.menu-button-container {
  background-color: rgb(20, 250, 59);
  padding: 5px;
  height: 25px;
  display: flex;
  /* justify-content: center; */
  border: 2px solid rgb(7, 99, 4);
}

.menu-options {
  padding-left: 5px;
  padding-bottom: 19px;
}

.menu-links {
  padding-left: 5px;
  margin-bottom: 55px;
}

.menu-container {
  /* height: 50px; */
  position: absolute;
  /* display: flex; */
  background-color: white;
  color: black;
  text-align: left;
  z-index: 3;
  border: 2px solid rgb(119, 119, 118);
}

.verb-menu-options {
  padding-left: 5px;
}

.menu-link {
  color: black;
  font-size: smaller;
  border: none;
  margin-bottom: 20px;
}

.menu-button {
  border: none;
  color: #282c34;
  background: none;
  font-size: large;
  cursor: pointer;
  margin-bottom: 20px;
}

.menu-toggle-button {
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
}
