.menu-button-container-open {
  background-color: rgb(20, 250, 59);
  padding: 5px;
  height: 25px;
  width: 222px;
  display: flex;
  /* justify-content: center; */
  border: 2px solid rgb(7, 99, 4);
  transition: width 300ms, height 300ms;
  overflow: hidden;
}

.menu-button-container-closed {
  background-color: rgb(20, 250, 59);
  padding: 5px;
  height: 25px;
  width: 22px;
  display: flex;
  /* justify-content: center; */
  border: 2px solid rgb(7, 99, 4);
  transition: width 300ms, height 300ms;
  overflow: hidden;
}

.menu-options {
  padding-left: 5px;
  padding-bottom: 19px;
}

.menu-links {
  /* padding-left: 5px; */
  /* padding-bottom: 5px; */
  margin-bottom: 35px;
}

.menu-link {
  color: black;
  display: inline-block;
  font-size: 1em;
  /* border: 1px red solid; */
  margin-bottom: 10px;
  padding-left: 0.2em;
  white-space: nowrap;
}

.menu-container-open {
  /* height: 50px; */
  position: absolute;
  background-color: white;
  color: black;
  text-align: left;
  width: 234px;
  min-height: 100%;
  z-index: 6;
  border: 2px solid rgb(119, 119, 118);
  transition: width 300ms, height 300ms;
  overflow: hidden;
}

.menu-container-closed {
  /* height: 50px; */
  position: absolute;
  background-color: white;
  width: 36px;
  height: 39px;
  color: black;
  text-align: left;
  z-index: 3;
  border: 2px solid rgb(119, 119, 118);
  transition: width 300ms, height 300ms;
  overflow: hidden;
}

.verb-menu-options-open h3 {
  font-size: 1em;
}

.verb-menu-options-closed h3 {
  font-size: 1em;
}

.verb-menu-options-open {
  padding: 5px;
  font-size: 0.8em;
  width: 225px;
  height: 120vh;
  overflow: scroll;
  transition: width 300ms, height 300ms;
}

.verb-menu-options-closed {
  padding: 0px;
  font-size: 0.8em;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: width 300ms, height 300ms, padding 300ms;
}

.verb-menu-options-open button {
  width: 100%;
}

.verb-menu-categories {
  border-bottom: 1px solid rgb(45, 52, 56);
  display: grid;
  font-size: 0.8em;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  justify-items: stretch;
  text-align: center;
  padding-bottom: 5px;
}

.button-random {
  background-color: #282c34;
  border-radius: 10px;
  border-color: white;
  border-width: 0.5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 1.5em;
  /* margin-left: 2em;*/
}

.verb-menu-selection {
  cursor: pointer;
  border: 2px solid rgb(45, 52, 56);
  border-radius: 5px;
  padding: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chosen-option {
  background-color: #0c98a5;
  border-color: rgb(11, 92, 92);
  color: azure;
}

.chosen-all-option {
  background-color: rgb(11, 185, 11);
  color: azure;
  border-color: rgb(9, 156, 9);
}

.verb-menu-all-selection {
  border: 2px solid rgb(7, 121, 7);
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-button {
  border: none;
  color: #282c34;
  background: none;
  font-size: large;
  cursor: pointer;
  margin-bottom: 20px;
  white-space: nowrap;
}

.menu-toggle-button {
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
  width: 220px;
  text-align: center;
}

.submit-button {
  background-color: #282c34;
  border-radius: 10px;
  border-color: white;
  border-width: 0.5px;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin: 1.5em 0px;
}

.submit-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 475px) {
  .verb-menu-options-open {
    font-size: 1.1em;
  }

  .verb-menu-options-closed {
    font-size: 1.1em;
  }

  .verb-menu-options-open h3 {
    font-size: 1em;
  }
}
