.pick-verse-menu {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  max-height: 800px;
  /* margin: auto; */
}

.pick-component {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 409px;
  margin: auto;
  position: relative;
}

#book-list {
  text-align: center;
  font-size: 16px;
  padding: 5px;
}

#chapter-list {
  /* padding: auto; */
  padding: 5px;
  text-align: center;
}

#verse-list {
  padding: 5px;
  text-align: center;
}

.drop-lists {
  display: grid;
  text-align: center;
  max-width: 500px;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(206, 206, 206);
}

.drop-lists button {
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  min-width: 115px;
  font-size: 14px;
}

.lists-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-self: center;
  margin: auto;
  z-index: 1;
  width: 351px;
  position: absolute;
  top: 39px;
}

.lists {
  background-color: rgb(241, 237, 230);
  color: black;
  max-width: 115px;
  font-size: 14px;
  text-align: center;
  width: 215px;
  padding: 0 4px;
  height: 200px;
  overflow: scroll;
}

.list-option {
  cursor: pointer;
}

.go-button {
  font-weight: bolder;
  color: white;
  padding: 9px 19px;
  border: none;
  background-color: rgb(16, 185, 45);
  cursor: pointer;
}

.go-button:active {
  background-color: rgb(10, 116, 28);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f0e9;
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 250, 59);
}
