.pick-verse-menu {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  max-height: 800px;
  /* border: 1px yellow solid; */
  /* margin: auto; */
}

.pick-component {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 409px;
  margin: 50px auto;
  position: relative;
}

#book-list {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  border-right: 3px solid rgb(206, 206, 206);
}

#chapter-list {
  /* padding: auto; */
  padding: 5px;
  padding-left: 10px;
  text-align: center;
  left: 103px;
  border-right: 3px solid rgb(206, 206, 206);
  width: 84px;
}

#verse-list {
  padding: 5px;
  padding-left: 9px;
  text-align: center;
  left: 205px;
  width: 86px;
}

.drop-lists {
  display: flex;
  max-width: 100px;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(206, 206, 206);
}

.drop-lists button {
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  width: 180px;
  font-size: 14px;
}

.lists-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-self: flex-start;
  width: 300px;
  left: 22px;
  /* margin: auto; */
  z-index: 1;
  position: relative;
  /* border: 1px red solid; */
}

.lists {
  background-color: rgb(241, 237, 230);
  color: black;
  max-width: 115px;
  font-size: 14px;
  text-align: center;
  width: 90px;
  padding: 0 4px;
  height: 200px;
  overflow: scroll;
  position: absolute;
}

.list-option {
  cursor: pointer;
  margin-bottom: 15px;
}

.go-button {
  font-weight: bolder;
  color: white;
  padding: 9px 19px;
  border: none;
  background-color: rgb(16, 185, 45);
  cursor: pointer;
}

.go-button:active {
  background-color: rgb(10, 116, 28);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f0e9;
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 250, 59);
}
