.pick-verse-menu {
  position: relative;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  max-height: 800px;
  /* border: 1px yellow solid; */
  margin: auto;
}

.pick-component {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-items: flex-start; */
  max-width: 400px;
  margin: 50px auto;
  position: relative;
}

#book-list {
  text-align: center;
  /* font-size: 14px; */
  padding: 5px;
  border-right: 3px solid rgb(206, 206, 206);
}

#chapter-list {
  /* padding: auto; */
  padding: 5px;
  padding-left: 10px;
  text-align: center;
  left: 103px;
  border-right: 3px solid rgb(206, 206, 206);
  /* width: 84px; */

  visibility: visible;
}

#verse-list {
  padding: 5px;
  padding-left: 9px;
  text-align: center;
  left: 205px;
  /* width: 86px; */
}

.drop-lists {
  display: flex;
  max-width: 100px;
  width: 25%;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(206, 206, 206);
}

.drop-lists button {
  text-align: center;
  border: none;
  cursor: pointer;

  background-color: whitesmoke;
  width: 100%;
  font-size: 1em;
}
/*  5473138*/
.lists-container {
  display: flex;
  /* flex-shrink: 1; */
  /* align-items: baseline; */
  /* justify-content: flex-start; */
  /* justify-self: center; */
  /* margin: auto; */
  width: 77%;
  /* max-width: 358px; */
  /* left: 23px; */
  z-index: 1;

  position: absolute;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(241, 237, 230);
  color: black;
  max-width: 90px;
  width: 33%;
  font-size: 14px;
  text-align: center;
  /* max-width: 100px; */
  /* padding: 0 4px; */
  height: 200px;
  overflow: scroll;
  /* position: absolute; */
}

.list-option {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.go-button {
  display: flex;
  font-weight: bolder;
  color: white;
  padding: 9px 19px;
  border: none;
  background-color: rgb(16, 185, 45);
  cursor: pointer;
  /* width: 25%; */
}

.go-button:active {
  background-color: rgb(10, 116, 28);
}

.nav-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  width: 200px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f0e9;
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 250, 59);
}

@media only screen and (max-width: 540px) {
  .pick-component {
    /* width: 100%; */
    justify-content: center;
  }

  .lists-container {
    /* margin: auto; */
    /* border: 2px solid red; */
  }

  /* #book-list {
    width: 92;
    overflow-x: hidden;
  }

  #chapter-list {
    left: 103px;
    width: 85px;
  }

  #verse-list {
    left: 205px;
    width: 87px;
  } */
}
