.pick-verse-menu {
  position: relative;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  max-height: 800px;
  margin: auto;
}

.pick-verse-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.pick-component {
  max-width: 45rem;
  margin: 50px auto 0.2em;
  position: relative;
}

.drop-lists {
  display: flex;
  background-color: #ffffff;
  border: solid 1px rgb(206, 206, 206);
}


.drop-lists button {
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: .55em;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif ;
}
.lists-container {
  visibility: hidden;
  display: flex;
  justify-self: center;
  width: 75%;
  z-index: 1;

  position: absolute;
}

.false {
  visibility: hidden;
}

.true {
  visibility: visible;
}

.lists {
  background-color: rgb(241, 237, 230);
  color: black;
  font-size: 14px;
  text-align: center;
  height: 200px;
  overflow: scroll;
  z-index: 1;
}

.list-option {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 7px;
  padding-top: 7%;
}

.selected {
  background-color: rgb(16, 185, 45);
  color: white;
}

.go-button {
  font-weight: bolder;
  color: white;
  padding: 9px 19px;
  border: none;
  background-color: rgb(16, 185, 45);
  cursor: pointer;
}

.go-button:active {
  background-color: rgb(10, 116, 28);
}

/*set top to 7rem so that button goes below lists and gets covered by lists*/
.nav-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: auto;
  top: 7rem;
  padding-top: 10px;
  width: 200px;
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f0e9;
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 250, 59);
}

@media only screen and (max-width: 540px) {
  .pick-component {
    justify-content: center;
  }
}
