.score-board {
  position: absolute;
  display: flex;
  flex-direction: row;
  line-height: 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: darkorange;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
  align-self: end;
}

h3 {
  font-size: max(1vw, 16px);
  padding: 0px;
}

h2 {
  font-size: max(2vw, 20px);
  padding: 0px;
}
