/* .body {
  background-color: #282c34;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
} */
