.verb-component {
  background-color: #282c34;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
  width: 100%;
}

.verb-cases {
  border: 1px solid #5b6579;
  margin: auto;
  max-width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.verb-cases:nth-child(odd) {
  background-color: #14171b;
}

.verb-cases div {
  font-size: 0.85em;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 5px 5px;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
}

.verb-step-one {
  margin: 0px auto 10px;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}

.correct {
  background-color: rgb(5, 204, 5);
}

.wrong {
  background-color: red;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

.verb-options {
  border: 2px solid white;
  width: 30%;
  max-width: 230px;
  padding: 5px 0px;
  cursor: pointer;
}
