.verse-sentence {
  width: 90%;
  
}

.verse-word {
  display: inline-block;
  position: relative;
  top: 30px;
  height: 55px;
  margin: 0px 1px;
  padding: 0px 2.5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verse-word p {
  position: relative;
  bottom: 30px;
}

.verse-word .indicator {
  position: relative;
  bottom: 15px;
}

.verse-word-highlight-correct {
  display: inline-block;
  position: relative;
  top: 30px;
  height: 55px;
  margin-right: 2px;
  padding: 0px 2.5px;
  background-color: green;
  border-radius: 5%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verse-word-highlight-correct p {
  position: relative;
  bottom: 30px;
}

.verse-word-highlight-correct .indicator {
  position: relative;
  bottom: 15px;
}
.verse-word-highlight-wrong p {
  position: relative;
  bottom: 30px;
}

.verse-word-highlight-wrong .indicator {
  position: relative;
  bottom: 15px;
}
.verse-word-highlight-wrong .indicator-highlight-wrong {
  position: relative;
  bottom: 14px;
}

.verse-word-highlight-correct .indicator-highlight-correct {
  position: relative;
  bottom: 14px;
}

.verse-word-highlight-wrong {
  display: inline-block;
  position: relative;
  top: 30px;
  height: 55px;
  margin-right: 2px;
  padding: 0px 2.5px;
  background-color: rgb(231, 77, 77);
  border-radius: 5%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.verse-word:hover {
  cursor: pointer;
  height: 45px;
  position: relative;
  top: 25px;
  border: solid 1px white;
  border-radius: 5px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 2.5px;
}

.verse-word:hover p {
  position: relative;
  bottom: 25px;
}

.indicator {
  font-size: small;
  position: relative;
  bottom: 15px;
  height: 0px;
  color: white;
  visibility: hidden;
}

.indicator-highlight-correct {
  font-size: small;
  position: relative;
  bottom: 15px;
  height: 0px;
  color: white;
  visibility: visible;
}

.indicator-highlight-wrong {
  font-size: small;
  position: relative;
  bottom: 15px;
  height: 0px;
  color: white;
  opacity: 1;
}

.inner-word {
  
}

@media only screen and (max-width: 540px) {
  .verse-word {
    height: 45px;
    padding: 0px 2.5px;
    font-size: larger;
  }


  .verse-word-highlight-correct {
    height: 45px;
    padding: 0px 2.5px;
    font-size: larger;

  }
  
  .verse-word-highlight-correct .indicator {
    bottom: 0px;
    top: 14px;
  }
  .verse-word-highlight-correct .indicator-highlight-correct {
    bottom: 0px;
    top: 14px;
  }

  .verse-word-highlight-wrong {
    height: 45px;
    padding: 0px 2.5px;
    font-size: larger;

  }
  
  .verse-word-highlight-wrong .indicator {
    bottom: 0px;
    top: 14px;
  }
 
  .verse-word-highlight-wrong .indicator-highlight-wrong {
    bottom: 0px;
    top: 14px;
  }

  
  
}



.passage {
  text-align: end;
  font-size: .7em;
  padding-right: 4px;
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: .75;
  margin-left: 15px;
  font-style: italic;
}
