.verse-sentence {
  width: 90%;
  
}

.verse-word {
  display: inline-block;
  margin: 1px;
  padding: 4px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verse-word:hover {
  cursor: pointer;
  background-color: green;
  border-radius: 5%;
}

@media only screen and (max-width: 475px) {
  .verse-word {
    font-size: larger;
  }
}

.passage {
  text-align: end;
  font-size: .7em;
  padding-right: 4px;
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: .75;
  margin-left: 15px;
  font-style: italic;
}
