.body {
  background-color: #282c34;
  display: flex;
  color: white;
  justify-content: flex-start;
  padding: 4em;
}

.card-back {
  background-color: #bbb;
  color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front {
  background-color: #2980b9;
  color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-vocabulary {
  background-color: #282c34;
  border-radius: 10px;
  border-color: white;
  border-width: 0.5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 3em;
  max-height: 3em;
  min-width: 4em;
}
