.grid-area {
  /* border: 1px solid red; */
  min-height: 524px;
}

.categories {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: stretch;
  max-width: fit-content;
}

.categories-hidden {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: stretch;
  visibility: hidden;
}

.cases {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  /* margin-bottom: 1em; */
  padding: 5px;
}

.case-option-clear {
  font-weight: bold;
}

.case-option {
  font-weight: bold;
}

.case-option.correct {
  background-color: rgb(5, 204, 5);
  font-weight: bold;
}

.case-option.wrong {
  background-color: red;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

.case-option-correct {
  background-color: rgb(5, 204, 5);
  font-weight: bold;
}

.case-option-wrong {
  background-color: red;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

.case-option-disabled {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
}

.cases div {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid white;
}

.cases-grid {
  display: grid;
  grid-template-columns: 10.8em 10.8em;
  grid-template-rows: 1.2em 1.2em;
  column-gap: 0.2em;
  row-gap: 2em;
  place-items: stretch;
  /* margin: 1.2em; */
  /* padding: 20px; */
  place-content: space-around;
}

.cases-grid div {
  margin: 10px;
  align-self: center;
  text-align: center;
  padding: 10px;
  border: 2px solid white;
}

.cases-grid div:hover {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cases div:hover {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cases .vocative-container {
  border: none;
}

.cases .vocative-container:hover {
  cursor: default;
}

.cases .vocative:hover {
  cursor: default;
}

.button {
  background-color: #282c34;
  border-radius: 10px;
  border-color: white;
  border-width: 0.5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 1.5em;
  /* margin-left: 2em; */
}

.button-group {
  display: flex;
  justify-content: center;
}

#Random-Verse-Button {
  margin-bottom: 125px;
}

.chosen-word {
  display: flex;
  justify-content: center;
}

.chosen-word:first-child p {
  /* margin-right: 0.5em; */
}

.vocative {
  position: relative;
  rotate: -30deg;
  margin-top: 175px;
  margin-left: 0.55em;
  bottom: 80px;
  background-color: goldenrod;
}

.vocative-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 100px;
}
.vocative-participle {
  position: relative;
  width: 100%;
  background-color: goldenrod;
}

@media (hover: hover) {
  .button:hover {
    background-color: rgb(142, 255, 127);
    color: #282c34;
  }
}

@media only screen and (max-width: 475px) {
  .cases {
    padding: 1px;
  }

  .case-option {
    max-width: 200px;
  }

  .chosen-word:first-child p {
    margin-right: 0.01em;
  }

  .button {
    width: 15em;
    margin-bottom: 2em;
  }

  .vocative {
    margin-left: 0.1em;
  }
}
