.categories {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: stretch;
}

.cases {
  border-color: aquamarine;
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  margin: 0px;
  padding: 20px;
}

.case-option-clear {
  font-weight: bold;
}

.case-option-correct {
  background-color: rgb(5, 204, 5);
  font-weight: bold;
}

.case-option-wrong {
  background-color: red;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

.cases div {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid white;
}

.cases div:hover {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.button {
  background-color: #282c34;
  border-radius: 10px;
  border-color: white;
  border-width: 0.5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

@media (hover: hover) {
  .button:hover {
    background-color: rgb(142, 255, 127);
    color: #282c34;
  }
}

@media only screen and (max-width: 475px) {
  .cases {
    padding: 5px;
  }
}
